<div class="card mb-3">
    <div class="card-header text-center">Patients Stats</div>
    <div class="card-body">
        <p><strong>Waiting:</strong> @ViewBag.WaitingCount</p>
        <p><strong>Completed:</strong> @ViewBag.CompletedCount</p>
        <p><strong>Urgent:</strong> @ViewBag.UrgentCount</p>
        <p><strong>Normal:</strong> @ViewBag.NormalCount</p>
    </div>
</div>
