@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="mb-4 text-primary"> Admin Dashboard</h2>

<div class="row">
    <div class="col-md-9">
        <div class="list-group">

            <!-- Users -->
            <a asp-controller="Users" asp-action="Index" class="list-group-item list-group-item-action btn btn-info">
                Manage Users
            </a>
            <a asp-controller="Users" asp-action="Create" class="list-group-item list-group-item-action btn btn-info">
                Create New User
            </a>

            <!--  Departments -->
            <a asp-controller="Departments" asp-action="Index" class="list-group-item list-group-item-action btn btn-info">
                Manage Departments
            </a>
            <a asp-controller="Departments" asp-action="Create" class="list-group-item list-group-item-action btn btn-info">
                Create Department
            </a>

            <!--  Clinics -->
            <a asp-controller="Clinics" asp-action="Index" class="list-group-item list-group-item-action btn btn-info">
                Manage Clinics
            </a>
            <a asp-controller="Clinics" asp-action="Create" class="list-group-item list-group-item-action btn btn-info">
                Create Clinic
            </a>

            <!--  Tokens -->
            <a asp-controller="Tokens" asp-action="Index" class="list-group-item list-group-item-action btn btn-info">
                Manage Tokens
            </a>
            <a asp-controller="Tokens" asp-action="CreateUnified" class="btn btn-primary">Generate Token</a>

        </div>
    </div>

    <!-- sidebar -->
    <div class="col-md-3">
        @await Component.InvokeAsync("Stats")
    </div>
</div>
