html, body {
    height: 100%; /* طول الصفحة بالكامل */
    margin: 0;
    padding: 0;
}

body {
    display: flex; /* نخلي الصفحة flexbox */
    flex-direction: column;
    min-height: 100vh; /* طول الصفحة على الأقل طول الشاشة */
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1; /* يخلي المحتوى يتمدد وياخد المساحة */
}


.footer {
    margin-top: auto; /* يخلي الفوتر دايمًا في أسفل الصفحة */
    text-align: center;
    font-size: 0.7rem; /* خط أصغر */
    color: #666;
    padding: 5px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}
