@model IEnumerable<HospitalQueueMS.Models.Token>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tokens";
}

<h2>Tokens Queue</h2>

<div id="tokensTableContainer">
    @Html.Partial("_TokensTable", Model)
</div>

@if (User.IsInRole("Reception") || User.IsInRole("Admin"))
{
    <a asp-controller="Tokens" asp-action="CreateUnified" class="btn btn-success">Create New Token</a>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/waitingRoomHub") 
            .build();

        connection.on("UpdateWaitingList", function () {
            reloadTokens(); 
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function reloadTokens() {
            $.ajax({
                url: '/Tokens/TokensPartial',
                type: 'GET',
                success: function (data) {
                    $("#tokensTableContainer").html(data);
                }
            });
        }
                 function announcePatient(tokenCode, clinicName) {

            var msg = new SpeechSynthesisUtterance("Patient number " + tokenCode + " please enter " + clinicName);
            msg.lang = "en-UK"; 

            var voices = window.speechSynthesis.getVoices();
            var arabicVoice = voices.find(v => v.lang.startsWith("en"));
            if (arabicVoice) {
                msg.voice = arabicVoice;
            }
             msg.rate = 0.7;

            window.speechSynthesis.speak(msg);
        }

        function callNext(id, tokenCode, clinicName) {
            $.ajax({
                url: '/Tokens/NextToken',
                type: 'POST',
                data: { id: id },
                success: function(response) {
                    if(response.success){
                        $("#row-"+id+" td:nth-child(4)").text("InProgress");
                         $("#row-" + response.tokenId).addClass("flash-row");
                        $("#row-"+id+" td:last").html(
                            '<a href="javascript:void(0);" onclick="completeToken('+id+')" class="btn btn-sm btn-success">Complete</a>'
                        );

                        announcePatient(tokenCode, clinicName);
                    }
                },
                error: function () {
                    alert("حصل خطأ أثناء تغيير حالة التوكن");
                }
            });
        }



        function completeToken(id) {
            $.ajax({
                url: '/Tokens/CompleteToken',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    if (response.success) {
                        $("#row-" + id).remove();
                    } else {
                        alert("لم يتم العثور على التوكن");
                    }
                },
                error: function () {
                    alert("حصل خطأ أثناء إنهاء التوكن");
                }
            });
        }
    </script>
}
